@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: circle;
    list-style-position: inside;
    
}
body {
    font-family: 'Jost', sans-serif;
    display: grid;
    gap: 2em;
    grid-template:
        "header header header" 4em
        ". top-heading ." 4em
        ". wheel-box ." auto
        ". display ." auto
        ". user-search ." auto
        ". search-results ." auto
        "footer footer footer" 4em / 1em 1fr 1em;
    
    background-color: rgb(54, 10, 10);
    color: gold;
    /* background-size: cover;  */
}

header {
    grid-area: header;
    background-color: #000;
    letter-spacing: 5px;
    text-shadow: 0 5px 5px #ff0000;
    text-align: center;
}

header h1 {
    line-height: 2em;
}

footer {
    grid-area: footer;
    font-size: 1.5rem;
    text-align: center;
    background-color: #000;
    line-height: 2em;
}
.top-heading {
    grid-area: top-heading;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    letter-spacing: 2px;
    
}

.top {
    font-size: clamp(1.5rem, 2vh, 3rem);
}



#display {
    grid-area: display;
    font-size: 1.2rem;
}
.container {
    grid-area: search-results;
}
#user-search {
    grid-area: user-search;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 1.2rem;
}
#input {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

#submit-btn {
    background-color: gold;
    width: 6em;
    height: 2em;
    border-radius: 10px;
    margin-top: 5px;    
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #000;
    color: gold;
}

.wheel-box {
    grid-area: wheel-box;
    position: relative;
    width: min(350px, 50vh, 700px);
    height: min(350px, 50vh, 700px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
}


.wheel {
    width: 100%;
    height: 100%;
    transition: all ease 5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(
        hsl(360, 100%, 50%),
        hsl(315, 100%, 50%),
        hsl(270, 100%, 50%),
        hsl(225, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(135, 100%, 50%),
        hsl(90, 100%, 50%),
        hsl(45, 100%, 50%),
        hsl(0, 100%, 50%)
    );
    border-radius: 50%;
}

#spin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    font-size: 1.2rem;
    color: #000;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0 4px 20px 5px #333;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-weight: bold;
}
#spin:active {
    width: 2.9em;
    height: 2.9em;
    font-size: 1.1rem;
}
